<h1 class = "text-center">Dodaj Link</h1>

<%= render 'form', link: @link %>
<ul class="nav navbar-nav pull-left">
    <li><div class = "przycisk"><%= link_to '', links_path, class: "btn btn-default fa fa-reply rozmiar", title: "Wróć" %></div></li>
</ul>